.color-table {
    border-spacing: 4px;
    border-collapse: separate;

    tr td {
        height: 50px;
        width: 50px;
    }

    //page one

    .color-1 {
        background-color: #FFFFFF;
    }

    .color-2 {
        background-color: #2F2F2F;
    }

    .color-3 {
        background-color: #FAE0E6;
    }

    .color-4 {
        background-color: #DAF8FF;
    }

    .color-5 {
        background-color: #FBF7DE;
    }

    .color-6 {
        background-color: #1DBADF;
    }

    .color-7{
        background-color: #6B6B6B;
    }

    //page two
    .color-8 {
        background-color: #1F84C8;
    }

    .color-9 {
        background-color: #FFFFFF;
    }

    .color-10 {
        background-color: #A0B476;
    }

    .color-11 {
        background-color: #F6E66C;
    }

    .color-12 {
        background-color: #E8D4DB;
    }

    .color-13 {
        background-color: #957D59;
    }

    .color-14 {
        background-color: #FCA001;
    }

    .color-15 {
        background-color: #A44622;
    }

    //page three

    .color-16 {
        background-color: #F9F6EC;
    }

    .color-17 {
        background-color: #201E18;
    }

    .color-18 {
        background-color: #DCF1F4;
    }

    .color-19 {
        background-color: #F9C2B1;
    }

    .color-20 {
        background-color: #F8237F;
    }

    .color-21 {
        background-color: #5EBA40;
    }

    .color-22 {
        background-color: #D09730;
    }

    .color-23 {
        background-color: #230255;
    }

    .color-24 {
        background-color: #0082DA;
    }

    .color-25 {
        background-color: #FCFFEB;
    }

    .color-26 {
        background-color: #818181;
    }
}