//style
$font-color: rgb(27, 27, 27);
$background-color: #b2d0f8;
$header-color: #90b7eb;
$footer-color: #42546b;
$youtube: #ff0000;
$antiquewhite: antiquewhite;

// technologies
$content: bisque;
$link-color: rgb(18, 17, 94);
$link-hover: rgb(7, 77, 143);

// technology
$box-title: rgb(116, 161, 212);
$black: black;
$css: rgb(255, 227, 192);
$html: rgb(177, 172, 248);
$js: rgb(240, 184, 167);
$php: rgb(191, 248, 205);
$python: rgb(250, 192, 192);
$git: rgb(229, 206, 255);
$sqlite: rgb(218, 245, 241);


//dark theme ----------------------------------
$font-color-dark: rgb(240, 240, 240);
$background-color-dark: #1d232b;
$header-color-dark: #141920;
$footer-color-dark: #0c0f13;
$youtube: #ff0000;
$antiquewhite-dark: rgb(255, 250, 245);

$box-title-dark: rgb(43, 59, 78);
$black-dark: rgb(255, 255, 255);
$css-dark: rgb(82, 81, 81);
$html-dark: rgb(100, 97, 145);
$js-dark: rgb(136, 104, 94);
$php-dark: rgb(101, 133, 109);
$python-dark: rgb(119, 92, 92);
$git-dark: rgb(99, 89, 110);
$sqlite-dark: rgb(83, 94, 92);

$content-dark: rgb(226, 216, 204);
$content-heading-dark: rgb(255, 255, 255);
$content-background-dark: rgb(102, 96, 90);
$link-color-dark: rgb(169, 168, 247);
$link-hover-dark: rgb(30, 139, 241);
$content-text-dark: rgb(31, 31, 31);

$content-link-color-dark: rgb(59, 59, 185);