.color-table {
    border-spacing: 4px;
    border-collapse: separate;
}

.color-table tr .color-three {
    height: 50px;
    width: 50px;
    background-color: #ef0;

}

.color-table tr .color-two {

    height: 50px;
    width: 50px;
    background-color: #0ef;

}

.color-table tr .color-one {

    height: 50px;
    width: 50px;
    background-color: #f0e
}