$font-color: rgb(27, 27, 27);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #f8eeb2;
$background-alternative-color: #e0fbfc;
$header-color: #90b7eb;
$footer-color: #42546b;


// technologies
$content: bisque;
$link-color: rgb(18, 17, 94);
$link-hover: rgb(7, 77, 143);
