<div class="tbox css">
<div class="box-title">
<a href = "css">css</a>
</div>
</div>

<div class="tbox html">
<div class="box-title">
<a href="html">html</a>
</div>
</div>

<div class="tbox js">
<div class="box-title">
<a href="javascript">Javascript</a>
</div>
</div>

<div class="tbox php">
<div class="box-title">
<a href="php">php</a>
</div>
</div>

<div class="tbox python">
<div class="box-title">
<a href="python">python</a>
</div>
</div>

<div class="tbox git">
<div class="box-title">
<a href="git">git</a>
</div>
</div>

<div class="tbox sqlite">
<div class="box-title">
<a href="sqlite">sqlite</a>
</div>
</div>