/* report.scss */
.landingpage {
    display: grid;
    gap: 1em 1em;

    h1 {
        //makes the h1 stretch over 3 grid colums
        grid-column: span 3;
        justify-self: center;
    }

    .kmom-box.project {
        grid-column: span 3;
    }
}