/* report.scss */
.landingpage {
    display: grid;
    gap: 1em 1em;
    width: 25%;
    margin: 0 auto;

    h1 {
        //makes the h1 stretch over 3 grid colums
        grid-column: span 3;
        justify-self: center;
    }

    .tbox {
        .box-title {
            background-color: rgb(116, 161, 212);
            height: 50px;
        }

        a {
            text-decoration: none;
            border-bottom: 2px solid black;
            display: block;
            width: 95%;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 900;
        }

        min-height: 200px;
    }

    .tbox.css {
        grid-column: span 1;
        background-color: rgb(255, 227, 192);
    }

    .tbox.html {
        grid-column: span 2;
        background-color: rgb(177, 172, 248);
    }

    .tbox.js {
        grid-column: span 2;
        background-color: rgb(240, 184, 167);
    }

    .tbox.php {
        grid-column: span 1;
        background-color: rgb(191, 248, 205);
    }

    .tbox.python {
        grid-column: span 3;
        background-color: rgb(250, 192, 192);
    }

    .tbox.git {
        grid-column: span 1;
        background-color: rgb(229, 206, 255);
    }

    .tbox.sqlite {
        grid-column: span 2;
        background-color: rgb(218, 245, 241);
    }
}

@media (max-width: 1800px) {
    .landingpage {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .landingpage {
        width: 80%;
    }
}

@media (max-width: 950px) {
    .landingpage {
        width: 80%;
        display: block;

        .tbox {
            .box-title {
                background-color: rgb(116, 161, 212);
                height: 50px;
            }

            a {
                text-decoration: none;
                border-bottom: 2px solid black;
                display: block;
                width: 95%;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 900;
            }
            min-height: 75px;
            margin-bottom: 5%;
        }
    }
}