$font-color: rgb(27, 27, 27);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #b2d0f8;
$background-alternative-color: #e0fbfc;
$header-color: #90b7eb;
$footer-color: #42546b;