{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}

	<div class="main" role="main">
		<div class="tec-wrapper">
			<aside class="tec-side" role="side">
				{% for page in pages("technology") %}
					<div class="tbox css">
						<div class="box-title">
							<a href="{{ page.url }}">{{ page.title }}</a>
						</div>
					</div>
				{% endfor %}
			</aside>

			<div class="page-content">
				{{ content }}
			</div>
		</div>
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
