.main {
    .tec-wrapper {
        display: flex;
        width: 90%;
        margin: 0 auto;

        .page-content {
            background-color: $content;
            width: 60%;
            padding: 2%;


            img.small {
                max-width: 80%;
                margin-left: 10%;
            }
        }

        aside {
            width: auto;
            margin-right: 10%;
            margin-top: 5%;

            .box-title {
                font-size: 30px;
                text-transform: uppercase;
                line-height: 200%;
                font-weight: bolder;

                a {
                    text-decoration: none;
                    color: $link-color;
                }

                a:hover {
                    color: $link-hover;
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    .main {
        .tec-wrapper {
            width: 98%;
            flex-direction: column;


            .page-content {
                width: 100%;
                padding: 2%;
            }

            aside {
                margin-right: 0%;
                margin-top: 2%;

                .box-title {
                    font-size: 22px;
                }
            }
        }

    }
}